In [1]:
#Comment to force a push to remote

In [1]:
# Dependencies
import requests
import pandas as pd
import json

In [2]:
post_request_url = "https://api.chartmetric.com/api/token"
refresh_api_token = #Iykyk

In [7]:
post_results = requests.post(post_request_url, data = {"refreshtoken":refresh_api_token}, json=True)

In [ ]:
print(post_results.text)

In [23]:
api_token = post_results.json()['token']

In [49]:
artist_id = 3957353
artist_url = f"https://api.chartmetric.com/api/artist/{artist_id}/career"

In [50]:
headers = {"Authorization": f"Bearer {api_token}"}

In [51]:
artist_results = requests.get(artist_url, headers = headers)

In [52]:
artist_results.json()

{'error': "'legacy' is not allowed"}

In [48]:
pd.json_normalize(artist_results.json()['obj'])

      timestp      stage  stage_score momentum  momentum_score
0  2024-05-08  superstar           18   growth              69
1  2024-05-05  superstar           17   growth              72
2  2024-05-01  superstar           17   growth              74
3  2024-04-28  superstar           17   growth              76
4  2024-04-24  superstar           17   growth              77
5  2024-04-21  superstar           17   growth              78
6  2024-04-17  superstar           17   growth              78
7  2024-04-14  superstar           16   growth              78
8  2024-04-10  superstar           16   growth              77
9  2024-03-20  superstar           11   growth              77